@import "~bootstrap/scss/bootstrap.scss";
.fullPage {
 margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#addUser {
    border: 1px solid black;
}

body {
   background-image: url("https://cdn.shopify.com/s/files/1/1192/7874/files/Minimalist_Living_-_How_to_Declutter_Your_Life_2048x2048.jpg?v=1529470251");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  background-color: #EEEDF0;
}

.header {
    margin: 0 auto;
    width: 520px;
    text-align: center;
    font-size: 84px;
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.userNameChanger {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

.userNameLabel {
  margin-right: 9px;
}

.userNameLabel h3 {
  font-size: 20px;
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px 4px black;
}

.container {
  width: 520px;
  margin: 0 auto;
  padding-bottom: 8px;
  background: lightgray;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

ul {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 2em;
  margin: 0;
  color: #666;
  display: flex;
  justify-content: space-between;
  border: 0.25px solid #d4d6d8;
  background: #f7f9f9;
}

.listItem {
  color: #474647;
}

input#addItem {
  background:lightgray;
  font-size: 24px;
  color: red;
  border: none;
  width: 100%;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
}

.flexItems {
  padding-left: 20px;
  font-size: 24px;
}

.deleter {
  padding-right: 10px;
}

span {
  color: #babcbc;
  visibility: hidden;
}

li:hover span {
  visibility: visible;
}

#counter {
  font-size: 11px;
  padding-left: 4px;
  color: #918f91;
}